.table{
  display:flex;
  flex-wrap: wrap;
}

.table__item{
  width: 50%;
  text-align: center;
}

.table__item:last-child{
  width: 100%;
  text-align: center;
}

#imgPlayer1 > img ,
#imgPlayer2 > img{
  width: 150px;
  height: auto;
}